In [1]:
idade1 = 39
idade2 = 30
idade3 = 27
idade4 = 18

print(idade1)
print(idade2)
print(idade3)
print(idade4)

39
30
27
18

Coleções nos permite trabalhar com diversos valores de um mesmo tipo ou tipo diferente.

In [2]:
idades = [39, 30, 27, 18]

In [3]:
type(idades)

list

In [4]:
len(idades)

4

In [5]:
idades[0]

39

In [6]:
idades

[39, 30, 27, 18]

In [7]:
print(idades[1])
print(idades[2])
print(idades[3])

30
27
18

In [8]:
idades.append(15)

In [9]:
idades

[39, 30, 27, 18, 15]

In [10]:
idades[4]

15

In [11]:
idades[5]

IndexError: list index out of range

In [12]:
for idade in idades:
    print(idade)

39
30
27
18
15

In [13]:
idades.remove(30)

In [14]:
idades

[39, 27, 18, 15]

In [15]:
idades.remove(30)

ValueError: list.remove(x): x not in list

In [16]:
idades.append(15)

In [17]:
idades

[39, 27, 18, 15, 15]

In [18]:
idades.remove(15)

In [19]:
idades

[39, 27, 18, 15]

In [20]:
idades.append(27)
idades.remove(27)
idades

[39, 18, 15, 27]

In [21]:
idades.clear()

In [22]:
idades

[]

In [23]:
idades = [39, 30, 27, 18]

In [24]:
28 in idades

False

In [25]:
15 in idades

False

In [29]:
if 30 in idades:
    idades.remove(30)

In [30]:
idades

[39, 27, 18]

In [31]:
idades.append(19)
idades

[39, 27, 18, 19]

In [32]:
idades.insert(0, 20)

In [33]:
idades

[20, 39, 27, 18, 19]

In [34]:
idades = [20, 39, 18]
idades

[20, 39, 18]

In [36]:
idades.append([27, 19])

In [37]:
idades

[20, 39, 18, [27, 19]]

In [38]:
for elemento in idades:
    print(f'Recebi o elemento: {elemento}')

Recebi o elemento: 20
Recebi o elemento: 39
Recebi o elemento: 18
Recebi o elemento: [27, 19]

In [39]:
idades = [20, 39, 18]
idades.extend([27, 19])
idades

[20, 39, 18, 27, 19]

In [40]:
for idade in idades:
    print(idade + 1)

21
40
19
28
20

In [41]:
idades_no_ano_que_vem = []
for idade in idades:
    idades_no_ano_que_vem.append(idade+1)

idades_no_ano_que_vem

[21, 40, 19, 28, 20]

In [48]:
# List comprehension
idades_no_ano_que_vem = [(idade + 1) for idade in idades]
idades_no_ano_que_vem

[21, 40, 19, 28, 20]

In [46]:
idades_maiores_que_21 = [idade for idade in idades if idade > 21]
idades_maiores_que_21

[39, 27]

In [47]:
def proximo_ano(idade):
    return idade+1

[proximo_ano(idade) for idade in idades if idade > 21]

[40, 28]

In [1]:
def faz_processamento_de_visualizacao(lista):
    print(len(lista))

In [2]:
idades = [16, 21,29, 56, 43]
faz_processamento_de_visualizacao(idades)
idades

5

[16, 21, 29, 56, 43]

In [3]:
def faz_processamento_de_visualizacao(lista = []):
    print(len(lista))
    lista.append(13)

In [4]:
faz_processamento_de_visualizacao()

0

In [5]:
faz_processamento_de_visualizacao()

1

In [6]:
faz_processamento_de_visualizacao()

2

In [7]:
faz_processamento_de_visualizacao()

3

In [9]:
def faz_processamento_de_visualizacao(lista = list()):
    print(len(lista))
    print(lista)
    lista.append(13)

In [10]:
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

0
[]
1
[13]

In [11]:
def faz_processamento_de_visualizacao(lista = None):
    if lista == None:
        lista = list()
    print(len(lista))
    print(lista)
    lista.append(13)

In [12]:
faz_processamento_de_visualizacao()
faz_processamento_de_visualizacao()

0
[]
0
[]

## Objetos próprios

In [5]:
class ContaCorrente:
    def __init__(self, codigo):
        self.codigo = codigo
        self.saldo = 0
        
    def deposita(self, valor):
        self.saldo += valor
        
    def __str__(self):
        return f'[>>Código {self.codigo} | Saldo {self.saldo}<<]'

In [2]:
conta_do_thiago = ContaCorrente(15)
print(conta_do_thiago)

[>>Código 15 | Saldo 0<<]

In [3]:
conta_do_thiago.deposita(500)
print(conta_do_thiago)

[>>Código 15 | Saldo 500<<]

In [4]:
conta_da_dani = ContaCorrente(47685)
conta_da_dani.deposita(1000)
print(conta_da_dani)

[>>Código 47685 | Saldo 1000<<]

In [5]:
contas = [ conta_do_thiago, conta_da_dani ]
for conta in contas:
    print(conta)

[>>Código 15 | Saldo 500<<]
[>>Código 47685 | Saldo 1000<<]

In [6]:
contas = [conta_do_thiago, conta_da_dani, conta_do_thiago]

In [7]:
print(contas[0])

[>>Código 15 | Saldo 500<<]

In [8]:
conta_do_thiago.deposita(100)

In [9]:
print(contas[0])

[>>Código 15 | Saldo 600<<]

In [10]:
print(conta_do_thiago)

[>>Código 15 | Saldo 600<<]

In [11]:
print(contas[2])

[>>Código 15 | Saldo 600<<]

In [12]:
contas[2].deposita(300)

In [13]:
print(conta_do_thiago)

[>>Código 15 | Saldo 900<<]

In [14]:
def deposita_para_contas(contas):
    for conta in contas:
        conta.deposita(100)
        
contas = [conta_do_thiago, conta_da_dani]
print(contas[0], contas[1])
deposita_para_contas(contas)
print(contas[0], contas[1])

[>>Código 15 | Saldo 900<<] [>>Código 47685 | Saldo 1000<<]
[>>Código 15 | Saldo 1000<<] [>>Código 47685 | Saldo 1100<<]

In [15]:
contas.insert(0,76)
print(contas[0], contas[1], contas[2])

76 [>>Código 15 | Saldo 1000<<] [>>Código 47685 | Saldo 1100<<]

In [16]:
deposita_para_contas(contas)
print(contas[0], contas[1], contas[2])

AttributeError: 'int' object has no attribute 'deposita'

## Tupla

In [1]:
thiago = ('Thiago', 27, 1996)
duda = ('Duda', 24, 1998)

In [2]:
usuarios = [thiago, duda]
usuarios

[('Thiago', 27, 1996), ('Duda', 24, 1998)]

In [3]:
usuarios.append(('Paulo', 39, 1979))

In [4]:
usuarios

[('Thiago', 27, 1996), ('Duda', 24, 1998), ('Paulo', 39, 1979)]

In [7]:
conta_do_thiago = ContaCorrente(15)
conta_do_thiago.deposita(500)
conta_da_duda = ContaCorrente(234876)
conta_da_duda.deposita(1000)

contas = (conta_do_thiago, conta_da_duda)

In [8]:
contas

(<__main__.ContaCorrente at 0x14bf03cfd10>,
 <__main__.ContaCorrente at 0x14bf03cff10>)

In [9]:
for conta in contas:
    print(conta)

[>>Código 15 | Saldo 500<<]
[>>Código 234876 | Saldo 1000<<]

In [10]:
contas.append(4432432)

AttributeError: 'tuple' object has no attribute 'append'

In [11]:
contas[0].deposita(300)

In [12]:
for conta in contas:
    print(conta)

[>>Código 15 | Saldo 800<<]
[>>Código 234876 | Saldo 1000<<]

## Herança e polimorfismo

In [6]:
from abc import ABCMeta, abstractmethod

class Conta(metaclass=ABCMeta):
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def deposita(self, valor):
        self._saldo += valor
    
    @abstractmethod
    def passa_o_mes(self):
        pass
        
    def __str__(self):
        return f'[>>Código {self._codigo} | Saldo {self._saldo}<<]'

In [7]:
print(Conta(88))

TypeError: Can't instantiate abstract class Conta with abstract method passa_o_mes

In [8]:
class ContaCorrente(Conta):
    
    def passa_o_mes(self):
        self._saldo -= 2
        
class ContaPoupanca(Conta):
    
    def passa_o_mes(self):
        self._saldo *= 1.01
        self._saldo -= 3
        
class ContaInvestimento(Conta):
    pass

In [9]:
ContaInvestimento()

TypeError: Can't instantiate abstract class ContaInvestimento with abstract method passa_o_mes

In [10]:
conta16 = ContaCorrente(16)
conta16.deposita(100)
conta16.passa_o_mes()
print(conta16)

[>>Código 16 | Saldo 98<<]

In [11]:
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
conta17.passa_o_mes()
print(conta17)

[>>Código 17 | Saldo 1007.0<<]

In [12]:
conta16 = ContaCorrente(16)
conta16.deposita(100)
conta17 = ContaPoupanca(17)
conta17.deposita(1000)
contas = [conta16, conta17]

for conta in contas:
    conta.passa_o_mes() # duck typing
    print(conta)

[>>Código 16 | Saldo 98<<]
[>>Código 17 | Saldo 1007.0<<]

## Array
Array em python tem um tipo específico, pois, para uma melhor performance, ele lida de forma diferente com cada tipo de dado
* [Documentação](https://docs.python.org/pt-br/3.7/library/array.html)

In [1]:
import array as arr
arr.array('d', [1, 3.5])

array('d', [1.0, 3.5])

In [2]:
# Por ser específico não conseguimos inserir dado de tipo diferente
arr.array('d', [1, 3.5, 'Thiago'])

TypeError: must be real number, not str

## Numpy
Biblioteca que permite lidar com lista numéricas com mais performance.
* [Documentação](https://numpy.org)

### Instalação
```!pip install numpy```

In [3]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\brpetmo\appdata\local\anaconda3\lib\site-packages (1.24.3)

In [4]:
import numpy as np
numeros = np.array([1, 3.5])
numeros

array([1. , 3.5])

In [5]:
numeros + 3

array([4. , 6.5])

## Igualdade

In [27]:
class ContaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def deposita(self, valor):
        self._saldo += valor
        
    def __str__(self):
        return f'[>>Código {self._codigo} | Saldo {self._saldo}<<]'

In [28]:
conta1 = ContaSalario(37)
print(conta1)

[>>Código 37 | Saldo 0<<]

In [29]:
conta2 = ContaSalario(37)
print(conta2)

[>>Código 37 | Saldo 0<<]

In [30]:
conta1 == conta2

False

In [35]:
class ContaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def deposita(self, valor):
        self._saldo += valor
        
    def __str__(self):
        return f'[>>Código {self._codigo} | Saldo {self._saldo}<<]'
    
    def __eq__(self, outro):
        return self._codigo == outro._codigo

In [36]:
conta1 = ContaSalario(37)
print(conta1)

[>>Código 37 | Saldo 0<<]

In [37]:
conta2 = ContaSalario(37)
print(conta2)

[>>Código 37 | Saldo 0<<]

In [38]:
conta1 == conta2

True

In [39]:
conta1 != conta2

False

In [40]:
conta1 in [conta2]

True

In [41]:
conta2 in [conta1]

True

In [42]:
class ContaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def deposita(self, valor):
        self._saldo += valor
        
    def __str__(self):
        return f'[>>Código {self._codigo} | Saldo {self._saldo}<<]'
    
    def __eq__(self, outro):
        return self._codigo == outro._codigo and self._saldo == outro._saldo

In [43]:
conta1 = ContaSalario(37)
print(conta1)

[>>Código 37 | Saldo 0<<]

In [44]:
conta2 = ContaSalario(37)
print(conta2)

[>>Código 37 | Saldo 0<<]

In [45]:
conta1 == conta2

True

In [46]:
conta1.deposita(100)

In [47]:
conta1 == conta2

False

In [49]:
class ContaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def deposita(self, valor):
        self._saldo += valor
        
    def __str__(self):
        return f'[>>Código {self._codigo} | Saldo {self._saldo}<<]'
    
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        
        return self._codigo == outro._codigo and self._saldo == outro._saldo
    
class ContaMultiploSalario(ContaSalario):
    pass

In [50]:
ContaCorrente(34)

In [52]:
isinstance(ContaCorrente(34), ContaCorrente)

True

In [5]:
idades = [15, 87, 32, 65, 56, 32, 49, 37]

for i in range(len(idades)):
    print(i, idades[i])

0 15
1 87
2 32
3 65
4 56
5 32
6 49
7 37

In [7]:
# enumerate - devolve o indice e o elemento
enumerate(idades) # Lazy

In [8]:
list(enumerate(idades))

[(0, 15), (1, 87), (2, 32), (3, 65), (4, 56), (5, 32), (6, 49), (7, 37)]

In [10]:
for indice, idade in enumerate(idades):
    print(indice, "-", idade)

0 - 15
1 - 87
2 - 32
3 - 65
4 - 56
5 - 32
6 - 49
7 - 37

In [12]:
usuarios = [
    ('Thiago', 123, 456789),
    ('Duda', 12, 456789),
    ('Melo', 56, 8965)
]

for nome, idade, valor in usuarios:
    print(nome, "-", idade, "-", valor)

Thiago - 123 - 456789
Duda - 12 - 456789
Melo - 56 - 8965

In [13]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [14]:
sorted(idades)

[15, 32, 32, 37, 49, 56, 65, 87]

In [15]:
15 < 32

True

In [17]:
list(reversed(idades))

[37, 49, 32, 56, 65, 32, 87, 15]

In [18]:
sorted(idades, reverse=True)

[87, 65, 56, 49, 37, 32, 32, 15]

In [19]:
list(reversed(sorted(idades)))

[87, 65, 56, 49, 37, 32, 32, 15]

In [20]:
idades

[15, 87, 32, 65, 56, 32, 49, 37]

In [23]:
# uma lista é mutável
idades.sort()

In [24]:
idades

[15, 32, 32, 37, 49, 56, 65, 87]

In [1]:
15 < 32

True

In [2]:
nomes = ["Thiago", "Duda", "Maria"]
sorted(nomes)

['Duda', 'Maria', 'Thiago']

In [3]:
nomes = ["Thiago", "duda", "Maria"]
sorted(nomes)

['Maria', 'Thiago', 'duda']

In [4]:
class ContaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def deposita(self, valor):
        self._saldo += valor
        
    def __str__(self):
        return f'[>>Código {self._codigo} | Saldo {self._saldo}<<]'
    
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        
        return self._codigo == outro._codigo and self._saldo == outro._saldo

In [5]:
conta_do_thiago = ContaSalario(17)
conta_do_thiago.deposita(500)

conta_do_joao = ContaSalario(3)
conta_do_joao.deposita(1000)

conta_do_jose = ContaSalario(57)
conta_do_jose.deposita(1500)

contas = [conta_do_thiago, conta_do_joao, conta_do_jose]

In [6]:
for conta in contas:
    print(conta)

[>>Código 17 | Saldo 500<<]
[>>Código 3 | Saldo 1000<<]
[>>Código 57 | Saldo 1500<<]

In [7]:
sorted(contas)

TypeError: '<' not supported between instances of 'ContaSalario' and 'ContaSalario'

In [10]:
def extrai_saldo(conta):
    return conta._saldo
for conta in sorted(contas, key=extrai_saldo):
    print(conta)

[>>Código 17 | Saldo 500<<]
[>>Código 3 | Saldo 1000<<]
[>>Código 57 | Saldo 1500<<]

In [11]:
from operator import attrgetter

for conta in sorted(contas, key=attrgetter("_saldo")):
    print(conta)

[>>Código 17 | Saldo 500<<]
[>>Código 3 | Saldo 1000<<]
[>>Código 57 | Saldo 1500<<]

In [14]:
class ContaSalario:
    def __init__(self, codigo):
        self._codigo = codigo
        self._saldo = 0
        
    def deposita(self, valor):
        self._saldo += valor
        
    def __lt__(self, outro):
        return self._saldo < outro._saldo
        
    def __str__(self):
        return f'[>>Código {self._codigo} | Saldo {self._saldo}<<]'
    
    def __eq__(self, outro):
        if type(outro) != ContaSalario:
            return False
        
        return self._codigo == outro._codigo and self._saldo == outro._saldo

In [15]:
conta_do_thiago = ContaSalario(17)
conta_do_thiago.deposita(500)

conta_do_joao = ContaSalario(3)
conta_do_joao.deposita(1000)

conta_do_jose = ContaSalario(57)
conta_do_jose.deposita(1500)

contas = [conta_do_thiago, conta_do_joao, conta_do_jose]

In [16]:
conta_do_thiago < conta_do_joao

True

In [17]:
conta_do_joao > conta_do_jose

False

In [19]:
for conta in sorted(contas):
    print(conta)

[>>Código 17 | Saldo 500<<]
[>>Código 3 | Saldo 1000<<]
[>>Código 57 | Saldo 1500<<]

In [20]:
for conta in sorted(contas, reverse=True):
    print(conta)

[>>Código 57 | Saldo 1500<<]
[>>Código 3 | Saldo 1000<<]
[>>Código 17 | Saldo 500<<]